<% content_for :styles do %>
  <%= stylesheet_pack_tag 'topics' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'topics' %>
<% end %>

<%= form_with(model: @topic, local: true) do |form| %>
  <div class="field form-group">
    <%= form.label :title, class: 'col-form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :text, class: 'col-form-label' %>
    <%= form.text_field :text, class: 'form-control' %>
  </div>

  <% if allowed_to?(:update?, @topic) %>
    <div class="action form-group">
      <%= form.submit class: "btn btn-success" %>
    </div>
  <% end %>
<% end %>

<div>Задачи:</div>

<% @tasks.each do |task| %>
  <div></div>
  <button class="accordion"><%= task.title %></button>
  <div class="panel">
    <p><%= task.text %></p>
  </div>
<% end %>

<%= link_to 'Создать задачу', new_topic_task_path(topic_id: @topic.id) %>


<div>Комментарии:</div>

<%= form_with(model: [@topic, @comment], local: true) do |form| %>
  <div class="field form-group">
    <%= form.label 'Новый комментарий:', class: 'col-form-label' %>
    <%= form.text_field :text, class: 'form-control' %>
  </div>

  <div class="action form-group">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>

<% @comments.each do |comment| %>
  <div><%= comment.text %></div>
<% end %>
